<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-3">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid mt-6">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super héroes</mat-label>
            <input matInput readonly type="text" [value]="hero.superhero" />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input matInput readonly type="text" [value]="hero.alter_ego" />
          </mat-form-field>

          <mat-form-field class="col-12 mt-2">
            <mat-label>Primera Aparición </mat-label>
            <input matInput readonly type="text" [value]="hero.first_appearance" />
          </mat-form-field>

          <mat-form-field class="col-12 mt-2">
            <mat-label>Personajes </mat-label>
            <input matInput readonly type="text" [value]="hero.characters" />
          </mat-form-field>

          <mat-form-field class="col-12 mt-2">
            <mat-label>Creador </mat-label>
            <input matInput readonly type="text" [value]="hero.publisher" />
          </mat-form-field>
        </form>

        <div class="col-12 mt-2">
          <button mat-button color="warn" mat-flat-button (click)="goBack()"> Regresar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6 ">

    <mat-card class="flex justify-content-center align-items-center py-2">
      <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image width="329px" class=" border-round-lg	">
    </mat-card>
  </div>
</div>
