<div class="flex flex-column">
  <h1 class="text-lg mb-4 text-center">Login</h1>
  <mat-divider class="mb-2"></mat-divider>

  <form class="flex flex-column" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput required formControlName="email" placeholder="Email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contrasena</mat-label>
    <input type="text" matInput required formControlName="password" placeholder="Contrasena" />
  </mat-form-field>

  <button
       mat-button mat-flat-button
       color="primary"
       (click)="onLogin()"
   >
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">Registro</a>
  </div>
</form>
</div>
