<div class="flex flex-column">
  <h1 class="text-lg mb-4 text-center">Registro</h1>

  <mat-divider class="mb-2"></mat-divider>
  <form class="flex flex-column" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" required formControlName="userName" matInput placeholder="Nombre de Usuario" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" required formControlName="email" matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contrasena</mat-label>
      <input type="text" required formControlName="password" matInput placeholder="Contrasena" />
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" (click)="register()">
      <mat-icon>save</mat-icon>
      Crear cuenta
    </button>

    <div class="flex justify-content-end mt-5">
      <a routerLink="/auth/login">Back to login</a>
    </div>
  </form>
</div>
